// mobile
// блок1________________________________________________________________блок1
 .Бесплатная_презентация_для_тех__кто_хочет_смени,
.Как_с_нуля_всего_за_3_5_месяцев__получить_все_н {
  font-size: 14px;
  font-family: 'Acrom';
  color: rgb(255, 255, 255);
  line-height: 1.286;
}
.Узнай_за_1_час_каким__может_быть_твой_путь_в_IT {
  font-size: 20px;
  font-family: 'Acrom';
  color: rgb(0, 234, 255);
  font-weight: bold;
  line-height: 1.3;
}
.Ближайшая_встреча__ {
  font-size: 14px;
  font-family: 'Acrom';
  color: rgb(249, 174, 35);
  font-weight: bold;
  line-height: 5.357;
  text-align: left;
}
.киев__16_декабря_19: 00 {
  font-size: 20px;
  font-family: 'Acrom';
  color:  rgb(249, 174, 35);
  font-weight: bold;
  line-height: 3.75;
  text-align: left;
}
.Оставьте_заявку_на__участие_в_бесплатной__презе {
    font-size: 16px;
    font-family: "Acrom";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
  }
  .С_вами_свяжется_карьерный__консультант_и_ответи {
    font-size: 13px;
    font-family: "Acrom";
    color: rgb(0, 0, 0);
    line-height: 1.385;
    text-align: left;
  }
  .Имя Email Телефон {
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(162, 162, 162);
    line-height: 1.2;
  }
  .ОСТАВИТЬ_ЗАЯВКУ {
    font-size: 16px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3.75;
  }
  .Прямоугольник-блок-1 {
    background-color: rgb(255, 107, 8);
    box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
  }
  .Политика_конфиденциальности {
    font-size: 13px;
    font-family: "Acrom";
    color: rgb(93, 96, 102);
    line-height: 2.885;
  }

//   блок-2________________________________________________________________блок-2
  .На_консультации_ты__получишь_ответы_на_все__к {
    font-size: 20px;
    font-family: "Acrom";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
  }
  .Что_из_себя_представляет__IT_сфера_в_Украине__н {
    // на 5 позиций...сумму-отдельно выделить
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(34, 34, 34);
    line-height: 1.429;
    text-align: left;
  }

  // блок-3________________________________________________________________блок-3
  .Также_вы_получите_личную_консультацию_по_стар {
    font-size: 20px;
    font-family: "Acrom";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
  .Определите_какое_направление_будет_легче__интер {
    // на 3 позиции...сумму-отдельно выделить
    font-size: 16px;
    font-family: "Acrom";
    color: rgb(34, 34, 34);
    line-height: 1.375;
    text-align: left;
  }
  .тень-прямоугольника {
    background-color: rgb(230, 233, 235);  
    }
  
  .Получить_бесплатный__доступ_ко_всем__материалам {
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.429;
    text-align: center;
  }
  .прямоугольник-блок-3 {
    background-color: rgb(255, 112, 42);
    box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
  }

  // блок-4________________________________________________________________блок-4
  .[_Почему_сфера_IT__так_интересна_] {
    font-size: 20px;
    font-family: "Acrom";
    color: rgb(27, 32, 42);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
  }
  .Сегодня_подготовили_для_вас_обзор__рынка_из_отч {
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(27, 32, 42);
    font-weight: bold;
    line-height: 1.429;
    text-align: left;
  }
  ._ОТ-12634__IT_компании_зарегистрированы__в_Украине,
  .ДО-_200тыс___IT_специалистов_по_прогнозам__будет_в_,
  {
    font-size: 30px;
    font-family: "Acrom";
    color: rgb(0, 234, 255);
    font-weight: bold;
    line-height: 0.833;
    text-align: left;
  }
  ._200тыс___IT_специалистов_по_прогнозам__будет_в_ {
    font-size: 30px;
    font-family: "Acrom";
    color: rgb(0, 234, 255);
    font-weight: bold;
    line-height: 0.833;
    text-align: left;
    position: absolute;
    left: 45.173px;
    top: 3174.328px;
    z-index: 118;
  }
  .Доход_IT_шников_превышает__среднюю_зарплату_по_ {
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(27, 32, 42);
    font-weight: bold;
    line-height: 1.429;
    text-align: left;
  }
  .в_7_раз_,
  .7-8раз {
    font-size: 25px;
    font-family: "Acrom";
    color: rgb(0, 234, 255);
    font-weight: bold;
    line-height: 1;
    text-align: left;
  }
  .при_официальном__трудоустройстве__IT_специалист,
  .при-работе_через_фоп {
    font-size: 10px;
    font-family: "Acrom";
    color: rgb(34, 34, 34);
    line-height: 1.1;
    text-align: left;
  }
  .Стабильно_высокие_зарплаты__в_долларах__ 
  // на 5 секций
  {
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(27, 32, 42);
    line-height: 1.429;
    text-align: left;
  }
  .квадраты-блок-4 {
    background-color: rgb(0, 234, 255);
      }
  // блок-5________________________________________________________________блок-5
  .Устал_растрачивать_свой__потенциал__работая_за_ {
    font-size: 16px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
  }
  .Сейчас_на_IT_рынке_работы_намного_больше__чем_к {
    // изменение-нижнего-текста
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.571;
    text-align: left;
  }
  .[_Узнай__как_именно__начнется_твой_путь_в_IT__] {
    font-size: 20px;
    font-family: "Acrom";
    color: rgb(0, 234, 255);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
  }
  .ХОЧУ_УЗНАТЬ_СВОЙ_ПУТЬ_В_IT {
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }
  .Прямоугольник_3_блок_5 {
    background-color: rgb(255, 112, 42);
    box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
    }
  // блок-6________________________________________________________________блок-6
  .[_Кто_мы_такие__и_почему_всё_это__рассказываем__] {
    font-size: 20px;
    font-family: "Acrom";
    color: rgb(27, 32, 42);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
  }
 
  .[_Награды_], [_Go_for_IT_],[_Партнеры_]  {
    font-size: 16px;
    font-family: "Acrom";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 1.313;
    text-align: left;
  }
  .Best_IT__Eduсation__2015
  .Ukranian__IT_Awards_2016
  .Украинская__Народная__Премия_2018
   {
    font-size: 18px;
    font-family: "Acrom";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.444;
  }
  .Награждена_компания_GoIT_за_вклад__в_подготовку
  .Награжден_сооснователь_GoIT_Андрей_Пивоваров_за
  .Победа_в_номинации__IT_образование_2018_Всеукра {
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.5;
  }  
  .тень-прямоугольника {
    background-color: rgb(230, 233, 235);
  }
     .GoIT_выиграла__тендер_ПР_ООН__Украина {
    font-size: 24px;
    font-family: "Acrom";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
  }
  .На_реализацию_социального_проекта_по_бесплатном {
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(107, 111, 122);
    line-height: 1.5;
  }
// блок-7________________________________________________________________блок-7
  .ОСТАВИТЬ_ЗАЯВКУ {
    font-size: 20px;
    font-family: "Acrom";
    color: rgb(0, 234, 255);
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .Создай_свою_историю_успеха_ {
    font-size: 14px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
    line-height: 4.286;
  }
  

  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
